In [166]:
# Libraries
import numpy as np
import pandas as pd
import math

In [167]:
# List of all runner spreadsheets
fnames = ['data/RunnerData1.xlsx', 'data/RunnerData2.xlsx', 'data/RunnerData3.xlsx', 'data/RunnerData4.xlsx']

In [168]:
# Function to return cleaned data set
def clean_data(fname):
    frames = []
    sheets = pd.read_excel(fname, sheet_name=None)
    # For each sheet (year)
    for key, val in sheets.iteritems():
        print key
        dat = sheets[key]
        dat = dat[(dat['Date'] != 'Total') & (dat['Date'] == dat['Date'])]
        dat = dat.drop(dat.columns[[2,3,4,5,7]], axis=1)
        #print dat.columns
        dat.columns = ['date', 'run_dist', 'notes']
        
        # Include distance and notes for next day
        rd1 = np.full(dat.shape[0], None)
        notes1 = np.full(dat.shape[0], None)
        for i in range(1,dat.shape[0]):
            rd1[i-1] = dat['run_dist'].iloc[i]
            notes1[i-1] = dat['notes'].iloc[i]
            #dat_mini['notes_1'].iloc[i+1] = dat_mini['notes'].iloc[i]
        
        dat['run_dist_1'] = rd1
        dat['notes_1'] = notes1
        
        # Remove any rows that have a blank
        dat = dat.dropna(axis=0, how='any')
        frames.append(dat)
        
    result = pd.concat(frames)
    return result

In [160]:
a = clean_data(fnames[3])

2016-17
2015-16

In [169]:
# Concatenate all data into one dataframe
df_list = []
for fname in fnames:
    df = clean_data(fname)
    df_list.append(df)
dat_full = pd.concat(df_list)

2016-17
2015-16
2014-15
2015-16
2014-15
2017-18
2016-17
2015-16
2016-17
2015-16

In [170]:
dat_full.shape

(1972, 5)

In [171]:
# Export to excel
dat_full.to_excel('running_data.xlsx')

In [172]:
dat_full.head()

,date,run_dist,notes,run_dist_1,notes_1
171,2016-10-10 00:00:00,10.0,"AM: Warmup (2 miles), 2 sets of (80, 50, 50), ...",10,"AM: Warmup (1.5 miles), Lift, Cooldown (2 mile..."
225,2016-11-21 00:00:00,10.0,"AM: Warmup (2 miles), 8x150 (Extensive Tempo),...",8,"AM: Warmup (1.5 miles), Lift, Cooldown (1 mile..."
226,2016-11-22 00:00:00,8.0,"AM: Warmup (1.5 miles), Lift, Cooldown (1 mile...",11,"AM: Warmup (2.5 miles), 8x300 with 2:30 rest (..."
227,2016-11-23 00:00:00,11.0,"AM: Warmup (2.5 miles), 8x300 with 2:30 rest (...",8,8 mile run. Not able to do squats or RDLs.
228,2016-11-24 00:00:00,8.0,8 mile run. Not able to do squats or RDLs.,10.5,"AM: Warmup (2 miles), 5x800 with 1:45 rest (Go..."